%link{:href => "https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css", :rel => "stylesheet"}
  / footer start from here
  %footer
    .container
      .row
        .col-md-4.col-sm-6.footerleft
          .logofooter
            八方街
          %p
            本站主题素材软件等资源来源于互联网.如果本站部分内容侵犯您的权益,烦请告知,本站会立即处理.
          %p
            %i.fa.fa-map-pin
            站内所有资源仅供学习与参考，请勿用于商业用途，否则产生的一切后果将由您自己承担！
          %p
            %i.fa.fa-phone
            QQ : 347223395 
          %p
            %i.fa.fa-envelope
            微信 : hellocongzhi 
        .col-md-2.col-sm-6.paddingtop-bottom
          %h6.heading7
            逛大街
          %ul.footer-ul
            %li
              = link_to Setting.home.site_theme, root_path
            %li
              = link_to Setting.home.develop_tool, "http://www.gitdebug.com", :target => "_blank"
            -#
              %li
                = link_to Setting.home.study, root_path
              %li
                = link_to Setting.home.outsource, root_path
            %li
              = link_to Setting.home.tutorial, "https://shop527029490.taobao.com", :target => "_blank"
        .col-md-3.col-sm-6.paddingtop-bottom
          %h6.heading7
          .post
            %p
              八方街一个专门服务于程序猿的网站
              需要软件外包服务；需要接活赚取外快；需要各种开发教程、开发工具、网站素材、网站模板、设计资源等等等等就来八方街。
            %p
              【软件开发学习交流群】
              %br
              群1—软件编程CIA：336837789
              %br
              群2—编程开发者FBI：614163659
            %p
              【软件外包服务群】
              %br
              群1—软件外包服务CIA：470031465
              %br
              群2—软件外包服务FBI：468246369
        .col-md-3.col-sm-6.paddingtop-bottom
          .fb-page{"data-adapt-container-width" => "true", "data-height" => "300", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/facebook", "data-show-facepile" => "true", "data-small-header" => "false", "data-tabs" => "timeline", :style => "margin-bottom:15px;"}
            .fb-xfbml-parse-ignore
              %blockquote{:cite => "https://www.facebook.com/facebook"}
                = link_to Setting.home.site_title, root_path
  / footer start from here
  .copyright
    .container
      .col-md-12
        %p 
          &#xA9; 2018 - All Rights with bafangjie 鲁ICP备17050710号
      = render "layouts/baidu"
